<!-- Footer -->

<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Muskan Dhiman" role="button"
          ><i class="bi bi-facebook"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"
          ><i class="bi bi-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"
          ><i class="bi bi-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/Muskandhiman52" role="button"
          ><i class="bi bi-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="bi bi-linkedin"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" role="button"
          ><i class="bi bi-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our Website</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  <h3>The Easy Food</h3>
      
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            
            <h5 class="text-uppercase">COMPANY</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">About us</a>
              </li>
              <li>
                <a href="#!" class="text-white">Work With us</a>
              </li>
              <li>
                <a href="#!" class="text-white">Easy Food Instamart</a>
              </li>
              <li>
                <a href="#!" class="text-white">Carrers</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" id="op">
            <h5 class="text-uppercase">CONTACTS</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Help & Support</a>
              </li>
              <li>
                <a href="#!" class="text-white">Ride with us </a>
              </li>
              <li>
                <a href="#!" class="text-white">Office contact number</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
  
          
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">LEGAL</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Term & Condition</a>
              </li>
              <li>
                <a href="#!" class="text-white">Refund & Cancellation</a>
              </li>
              <li>
                <a href="#!" class="text-white">Privacy & Policy</a>
              </li>
              <li>
                <a href="#!" class="text-white">Offer Terms</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="" style="text-decoration: none;">ABHISHEK RAJPUT & MUSKAN</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
