<!--NAVIGATION BAR-->
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark me-0 align">

    <div class="container-fluid navbar  me-0 ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--LOGO-->
          <li>
            <img  id="ll" src="https://media.istockphoto.com/id/1267161539/vector/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-design-element.jpg?s=1024x1024&w=is&k=20&c=NLHTWjbE0rvkAoB25WDRaxt8SYO6QUQEOl3qFAymwtY=" alt="logo-images" hight="40px" width="55px">
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" id="nav1"  routerLink="/home" >Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#" id="nav1" routerLink="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " id="nav1" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.google.com/maps/@30.6994083,76.7028041,15.33z" target="_blank" id="nav1">Near by Restaurant</a>
          </li>
        </ul>
        <form class="d-flex" role="search" id="find">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>