<!--50% off in image  -->
<div class="container-xxl" id="vvv">
       <img src="https://t3.ftcdn.net/jpg/01/99/10/44/240_F_199104456_hGSpXtSlQW4u2kk2YNUOzuvieua68wrf.jpg" alt="1st image" width="100%" height="350px">
<h1>50% off & Free Delivery</h1>
    </div>
<!-- card div of 50% -->
<div class="container-fluid">
    <!-- 1st div -->
    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/4237ef091b92d6276e66ba0bffa36476" class="card-img-top" alt="domininc pizza">
        <div class="card-body">
          <h5 class="card-title">Dominic Pizza</h5>
          <p class="card-text">Snacks,Pastas,Beverages,Fast Food,Burger</p>
          <h6>65% off on all order </h6><br>
          <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
          
        </div>
        </div>
        <!-- 2nd div -->
        <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/mja9y4mrnaqurqwx4udx" class="card-img-top" alt="domininc pizza">
            <div class="card-body">
              <h5 class="card-title">Mystic Grill Cafe</h5>
              <p class="card-text">Indian,Beverages,Fast Food</p>
              <h6>55% off on all order </h6><br><br>
              <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
             
            </div>
            </div>
            <!-- 3rd div -->
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/56c9ab92bd79745fd152a30fa2525426" class="card-img-top" alt="domininc pizza">
                <div class="card-body">
                  <h5 class="card-title">KFC</h5>
                  <p class="card-text">Burger,Briyani,American,Snacks,Fast Food</p>
                  <h6>40% OFF | USE THE EASSY FOOD IT</h6>
                  <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
                 
                </div>
                </div>
                <!-- 4th div -->
                <div class="card" style="width: 18rem;">
                    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/znouysligwbwsofoulnx" class="card-img-top" alt="domininc pizza">
                    <div class="card-body">
                      <h5 class="card-title">La Pino'z Pizza</h5>
                      <p class="card-text">Pizzas,Pastas,Italian,Desserts,Beverages/p>
                      <h6>Flat 125% off on order above ₹249</h6><br>
                      <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
                     </div>
                    </div>
                    </div>
                    <!-- 2nd  div card -->
<div class="container-fluid">
                     <!-- 1st div -->
                     <div class="card" style="width: 18rem;">
                        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/28fb13049b4e55297bb3f703cde63c35" class="card-img-top" alt="domininc pizza">
                        <div class="card-body">
                          <h5 class="card-title">Burger King</h5>
                          <p class="card-text">Burgers,American</p>
                          <h6>Free crispy veg burger</h6><br><br>
                          <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
                        </div>
                        </div>
        <!-- 2nd div -->
        <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/n4jynnelbypfasgihxdb" class="card-img-top" alt="domininc pizza">
            <div class="card-body">
              <h5 class="card-title">Cafe Every Day</h5>
              <p class="card-text">Indian,Beverages,Fast Food</p>
              <h6>45% off on all order </h6><br><br>
              <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
             
            </div>
            </div>
            <!-- 3rd div -->
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/0bf19a82b109b40c2f5c56d00f071a33" class="card-img-top" alt="domininc pizza">
                <div class="card-body">
                  <h5 class="card-title">Sub-WAY</h5>
                  <p class="card-text">Snacks,Fast Food</p>
                  <h6>20% OFF </h6>
                  <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
                 
                </div>
                </div>
                <!-- 4th div -->
                <div class="card" style="width: 18rem;">
                    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/p5dsgbndkupfgjqcvqox" class="card-img-top" alt="domininc pizza">
                    <div class="card-body">
                      <h5 class="card-title">Domnic Pizza</h5>
                      <p class="card-text">Pizzas,Pastas,Italian,Desserts,Beverages/p>
                      <h6>Flat 115% off on order above ₹249</h6><br>
                      <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
                     </div>
                    </div>
  </div>
      <!-- 3rd  div card -->
<div class="container-fluid">
    <!-- 1st div -->
    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/56c9ab92bd79745fd152a30fa2525426" class="card-img-top" alt="domininc pizza">
        <div class="card-body">
         <h5 class="card-title">KFC</h5>
         <p class="card-text">Burger,Briyani,American,Snacks,Fast Food</p>
         <h6>40% OFF | USE THE EASSY FOOD IT</h6>
         <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
         </div>
         </div>
<!-- 2nd div -->
<div class="card" style="width: 18rem;">
<img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/mja9y4mrnaqurqwx4udx" class="card-img-top" alt="domininc pizza">
<div class="card-body">
<h5 class="card-title">Mystic Grill Cafe</h5>
<p class="card-text">Indian,Beverages,Fast Food</p>
<h6>55% off on all order </h6><br><br>
<a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>

</div>
</div>
<!-- 3rd div -->
<div class="card" style="width: 18rem;">
    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/znouysligwbwsofoulnx" class="card-img-top" alt="domininc pizza">
    <div class="card-body">
      <h5 class="card-title">La Pino'z Pizza</h5>
      <p class="card-text">Pizzas,Pastas,Italian,Desserts,Beverages/p>
      <h6>Flat 125% off on order above ₹249</h6><br>
      <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
     </div>
    </div>
 
<!-- 4th div -->
<div class="card" style="width: 18rem;">
   <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/mqbffp1a8thnsq1pibk8" class="card-img-top" alt="domininc pizza">
   <div class="card-body">
     <h5 class="card-title">Burger Point 70</h5>
     <p class="card-text">Pizzas,Pastas,Italian,Desserts,Beverages/p>
     <h6>Flat 125% off on order above ₹249</h6><br>
     <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
    </div>
   </div>
   
</div>
































