<!-- First text -->
<div class="llg">
    <ul>
        
    <h1>Welcome To THE EASY FOOD
         </h1>
        
        <!-- cart -->
            <h4 routerLink="/cart"> <button class="btn btn-primary" >Cart</button></h4>
        
         </ul>
         </div>
    <h2>Successfully login! </h2>


<!-- Sign In Page -->
<div class="container-fluid" id="card">
    
 <!-- 1st card -->
 <div class="card" style="width: 18rem;">
    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/4237ef091b92d6276e66ba0bffa36476" class="im1 card-img-top" alt="domininc pizza">
    <div class="card-body">
      <h5 class="im1 card-text">Dominic Pizza</h5>
      <p class="card-text">Snacks,Pastas,Beverages,Fast Food,Burger</p>
      <h6>65% off on all order </h6><br>
      <a  class="btn btn-primary" value="im1" (click)="eventhandler($event)">Order-Now</a>
      
    </div>
    </div>
    <!-- 2nd card -->
    <div class="card" style="width: 18rem;">
      <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/7d06c2081fdc2bd0101ce2619c499040" class="im2 card-img-top" alt="domininc pizza">
      <div class="card-body">
        <h5 class="im2 card-title">Franky's Kitchen</h5>
        <p class="card-text">Snacks,Burger,Mexican</p>
        <h6> Flat 125% off on order above ₹250</h6> <br><br>
        <a class="btn btn-primary" value="im2" (click)="eventhandler($event)">Order-Now</a>
      
      </div>
      </div>
      <!-- 3rd card -->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/kcgss53opc1vbnnjsywv" class="im3 card-img-top" alt="domininc pizza">
        <div class="card-body">
          <h5 class="im3 card-title">Hangry</h5>
          <p class="card-text">North India,Chinese,Fast Food,Street Food,Beverages,Desserts,Punjabi</p>
          <h6>50% off | Use Try New</h6>
          <a  class="btn btn-primary" value="im3" (click)="eventhandler($event)">Order-Now</a>
          
        </div>
        </div>
        <!-- 4th card -->
        <div class="card" style="width: 18rem;">
          <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/mja9y4mrnaqurqwx4udx" class="im4 card-img-top" alt="domininc pizza">
          <div class="card-body">
            <h5 class="im4card-title">Mystic Grill Cafe</h5>
            <p class="card-text">Indian,Beverages,Fast Food</p>
            <h6>55% off on all order </h6><br><br>
            <a class="btn btn-primary" value="im4" (click)="eventhandler($event)">Order-Now</a>
           
          </div>
          </div>
  </div>
    <!-- card div 2nd -->
  
    <!-- 2nd div 1st card -->
    <div class="container-fluid" id="card">
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/7423c03fa94719826e270ef5e291e880" class="im5 card-img-top" alt="domininc pizza">
        <div class="card-body">
          <h5 class="im5 card-title">Shama Dhaba</h5>
          <p class="card-text">North Indian, Briyani</p>
          <h6>10% off on all order </h6><br><br>
          <a  class="btn btn-primary" value="im5" (click)="eventhandler($event)" >Order-Now</a>
         </div>
        </div>
        <!--2nd div 2nd card  -->
        <div class="card" style="width: 18rem;">
          <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/rf7pj4cvk3d4t69vqsiz" class="im6 card-img-top" alt="domininc pizza">
          <div class="card-body">
            <h5 class="im6 card-title">Bhena Da Dhaba</h5>
            <p class="card-text">North Indian,Tandoor,Chinese,Thalis,Snacks,Desserts,Beverages</p>
            <h6>Flat 125% off on order above ₹199 </h6>
            <a  class="btn btn-primary" value="im6" (click)="eventhandler($event)" >Order-Now</a>
          </div>
          </div>
          <!-- 2nd div 3rd card -->
          <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/znouysligwbwsofoulnx" class="im7 card-img-top" alt="domininc pizza">
            <div class="card-body">
              <h5 class="im7 card-title">La Pino'z Pizza</h5>
              <p class="card-text">Pizzas,Pastas,Italian,Desserts,Beverages/p>
              <h6>Flat 125% off on order above ₹249</h6><br>
              <a  class="btn btn-primary" value="im7" (click)="eventhandler($event)">Order-Now</a>
             </div>
            </div>
            <!-- 2nd div 4th card -->
            <div class="card" style="width: 18rem;">
              <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/28fb13049b4e55297bb3f703cde63c35" class="im8 card-img-top" alt="domininc pizza">
              <div class="card-body">
                <h5 class="im8 card-title">Burger King</h5>
                <p class="card-text">Burgers,American</p>
                <h6>Free crispy veg burger</h6><br><br>
                <a  class="btn btn-primary" value="im8" (click)="eventhandler($event)" >Order-Now</a>
              </div>
              </div>
  
    </div>
    <!--card div 3  -->
    <!-- 3rd div 1st card -->
    <div class="container-fluid" id="card" >
      <!-- 1st card -->
    <div class="card" style="width: 18rem;">
      <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/px9vmgwdbdsvf353canj" class="im9 card-img-top" alt="domininc pizza">
      <div class="card-body">
        <h5 class="im9 card-title">Caterspoint</h5>
        <p class="card-text">Indian,Italian,Salads</p>
        <h6> Flat 125% off on  order above ₹249 </h6><br><br><br>
        <a  class="btn btn-primary" value="im9" (click)="eventhandler($event)" >Order-Now</a>
        
      </div>
      </div> 
      <!-- 2nd card -->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/a4hcxqqq44oj6riltmyn" class="im10 card-img-top" alt="domininc pizza">
        <div class="card-body">
          <h5 class="im10 card-title">Dr. Diet-Daily Healithy Diet</h5>
          <p class="card-text">Healthy Food,Italian,Mexican,Chinese,Salads,Juices,Desserts</p>
          <h6> Flat 125% off on  order above ₹249 </h6><br>
          <a  class="btn btn-primary" value="im10" (click)="eventhandler($event)" >Order-Now</a>
          
        </div>
        </div>
        <!--3rd card  -->
        <div class="card" style="width: 18rem;">
          <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/orhlweyhe4rc2fjhqb7w" class="im11 card-img-top" alt="domininc pizza">
          <div class="card-body">
            <h5 class="im11 card-title">Roll Joint</h5>
            <p class="card-text">Fast Food,Snacks</p>
            <h6> Flat 125% off| Use Bfbinze</h6><br><br><br>
            <a  class="btn btn-primary" value="im11" (click)="eventhandler($event)" >Order-Now</a>
            
          </div>
          </div>
          <!-- 4th card -->
          <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/atpcoz2buczytm85xmqo" class="im12 card-img-top" alt="domininc pizza">
            <div class="card-body">
              <h5 class="im12 card-title">DID-Daily Indian Diet By DND</h5>
              <p class="card-text">North Indian Healthy Food,Tandoor,Briyani,Thali,Desserts</p>
              <h6>  20% off| Use Party</h6><br>
              <a  class="btn btn-primary" value="im12" (click)="eventhandler($event)">Order-Now</a>
              
            </div>
            </div>
</div>
