
<!-- <Main content -->

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.freepik.com/free-photo/traditional-indian-soup-lentils-indian-dhal-spicy-curry-bowl-spices-herbs-rustic-black-wooden-table_2829-18717.jpg?size=626&ext=jpg&ga=GA1.1.1256095430.1681050819&semt=sph" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/premium-photo/bowl-delicious-spicily-spiced-chicken-biryani-sits-against-gloomy-background_410516-2218.jpg?size=626&ext=jpg&ga=GA1.2.1256095430.1681050819&semt=sph" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-photo/delicious-indian-food-tray_23-2148723505.jpg?size=626&ext=jpg&ga=GA1.2.1256095430.1681050819&semt=sph" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<!--Another-one-->
<div class="second-div">
  <div class="aa">
    <img id="zz"
      src="../assets/food1.webp" routerLink="/another" alt="Second div first image" width="150px" height="150px">
    <span class="bb">
      <img id="zz"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/awurei8ypqkafoqay9ym"
       routerLink="/another1" alt="Second div Second image" width="150px" height="150px">
    </span>
    <span class="cc">
      <img id="zz"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/zpkkdkmvlj5cuvqbc50t"
        routerLink="/another2" alt="Second div third image" width="150px" height="150px">
    </span>
    <span class="dd">
      <img id="zz"
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/ifi2lbzxeu1hvsqrsip3"
        routerLink="/another3" alt="Second div Second image" width="150px" height="150px">
    </span>
  </div>
</div>

<!-- card div 1st-->
<div class="container-fluid" id="card" >
  <!-- 1st card -->
<div class="card" style="width: 18rem;">
  <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/4237ef091b92d6276e66ba0bffa36476" class="card-img-top" alt="domininc pizza">
  <div class="card-body">
    <h5 class="card-title">Dominic Pizza</h5>
    <p class="card-text">Snacks,Pastas,Beverages,Fast Food,Burger</p>
    <h6>65% off on all order </h6><br>
    <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
    
  </div>
  </div>
  <!-- 2nd card -->
  <div class="card" style="width: 18rem;">
    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/7d06c2081fdc2bd0101ce2619c499040" class="card-img-top" alt="domininc pizza">
    <div class="card-body">
      <h5 class="card-title">Franky's Kitchen</h5>
      <p class="card-text">Snacks,Burger,Mexican</p>
      <h6> Flat 125% off on order above ₹250</h6> <br><br>
      <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
    
    </div>
    </div>
    <!-- 3rd card -->
    <div class="card" style="width: 18rem;">
      <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/kcgss53opc1vbnnjsywv" class="card-img-top" alt="domininc pizza">
      <div class="card-body">
        <h5 class="card-title">Hangry</h5>
        <p class="card-text">North India,Chinese,Fast Food,Street Food,Beverages,Desserts,Punjabi</p>
        <h6>50% off | Use Try New</h6>
        <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
        
      </div>
      </div>
      <!-- 4th card -->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/mja9y4mrnaqurqwx4udx" class="card-img-top" alt="domininc pizza">
        <div class="card-body">
          <h5 class="card-title">Mystic Grill Cafe</h5>
          <p class="card-text">Indian,Beverages,Fast Food</p>
          <h6>55% off on all order </h6><br><br>
          <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
         
        </div>
        </div>
</div>
  <!-- card div 2nd -->

  <!-- 2nd div 1st card -->
  <div class="container-fluid" id="card">
    <div class="card" style="width: 18rem;">
      <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/7423c03fa94719826e270ef5e291e880" class="card-img-top" alt="domininc pizza">
      <div class="card-body">
        <h5 class="card-title">Shama Dhaba</h5>
        <p class="card-text">North Indian, Briyani</p>
        <h6>10% off on all order </h6><br><br>
        <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
       </div>
      </div>
      <!--2nd div 2nd card  -->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/rf7pj4cvk3d4t69vqsiz" class="card-img-top" alt="domininc pizza">
        <div class="card-body">
          <h5 class="card-title">Bhena Da Dhaba</h5>
          <p class="card-text">North Indian,Tandoor,Chinese,Thalis,Snacks,Desserts,Beverages</p>
          <h6>Flat 125% off on order above ₹199 </h6>
          <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
        </div>
        </div>
        <!-- 2nd div 3rd card -->
        <div class="card" style="width: 18rem;">
          <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/znouysligwbwsofoulnx" class="card-img-top" alt="domininc pizza">
          <div class="card-body">
            <h5 class="card-title">La Pino'z Pizza</h5>
            <p class="card-text">Pizzas,Pastas,Italian,Desserts,Beverages/p>
            <h6>Flat 125% off on order above ₹249</h6><br>
            <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
           </div>
          </div>
          <!-- 2nd div 4th card -->
          <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/28fb13049b4e55297bb3f703cde63c35" class="card-img-top" alt="domininc pizza">
            <div class="card-body">
              <h5 class="card-title">Burger King</h5>
              <p class="card-text">Burgers,American</p>
              <h6>Free crispy veg burger</h6><br><br>
              <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
            </div>
            </div>

  </div>
  <!--card div 3  -->
  <!-- 3rd div 1st card -->
  <div class="container-fluid" id="card" >
    <!-- 1st card -->
  <div class="card" style="width: 18rem;">
    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/px9vmgwdbdsvf353canj" class="card-img-top" alt="domininc pizza">
    <div class="card-body">
      <h5 class="card-title">Caterspoint</h5>
      <p class="card-text">Indian,Italian,Salads</p>
      <h6> Flat 125% off on  order above ₹249 </h6><br><br><br>
      <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
      
    </div>
    </div> 
    <!-- 2nd card -->
    <div class="card" style="width: 18rem;">
      <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/a4hcxqqq44oj6riltmyn" class="card-img-top" alt="domininc pizza">
      <div class="card-body">
        <h5 class="card-title">Dr. Diet-Daily Healithy Diet</h5>
        <p class="card-text">Healthy Food,Italian,Mexican,Chinese,Salads,Juices,Desserts</p>
        <h6> Flat 125% off on  order above ₹249 </h6><br>
        <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
        
      </div>
      </div>
      <!--3rd card  -->
      <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/orhlweyhe4rc2fjhqb7w" class="card-img-top" alt="domininc pizza">
        <div class="card-body">
          <h5 class="card-title">Roll Joint</h5>
          <p class="card-text">Fast Food,Snacks</p>
          <h6> Flat 125% off| Use Bfbinze</h6><br><br><br>
          <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
          
        </div>
        </div>
        <!-- 4th card -->
        <div class="card" style="width: 18rem;">
          <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/atpcoz2buczytm85xmqo" class="card-img-top" alt="domininc pizza">
          <div class="card-body">
            <h5 class="card-title">DID-Daily Indian Diet By DND</h5>
            <p class="card-text">North Indian Healthy Food,Tandoor,Briyani,Thali,Desserts</p>
            <h6>  20% off| Use Party</h6><br>
            <a href="#" class="btn btn-primary" routerLink="//login">Order-Now</a>
            
          </div>
          </div>
    </div>   

 



